{{寻访信息
|寻访名cn={$ gacha_name.replace(" ","·")$}
|卡池名=寻访模拟/{$ gacha_name $}
|寻访类型=标准寻访
{%- if limit %}
|限定寻访分类=庆典
{%- else %}
|标准寻访分类=限时寻访
{%- endif %}
|寻访开启时间cn={$ starttime $}
|寻访关闭时间cn={$ endtime $}
|出率提升干员={$ all_chars | join(',') $}
}}