|-
|[[文件:{$ gacha_name $}.{$suffix$}|400px|link=寻访模拟/{$ gacha_name $}]]<br/>[[寻访模拟/{$ gacha_name $}|{$ gacha_name.replace(" ","·")$}]]
|{$ starttime $}~<br/>{$ endtime $}
|{$ sixstar_tplt_text $}
|{$ fivestar_tplt_text $}