|-
|{$ id $}
|[[文件:{$ pic_name $}|400px|link=寻访模拟/中坚干员轮换卡池{$ id $}]]
|{$ starttime $}~<br/>{$ endtime $}
|{{干员头像|{$ six_char_shop $}|shop2=1}}{{干员头像|{$ six_char $}}}
|{{干员头像|{$ five_char_shop $}|shop2=1}}{{干员头像|{$ five_char_1 $}}}{{干员头像|{$ five_char_2 $}}}