{{寻访模拟器|卡池参数=config>gacha_type:normal,operator_end_time:20200430,gacha_image:{$ pic_name $}
star_5>up:{$ six_chars | join('.') $}
star_4>up:{$ five_chars | join(',') $}
star_3>append:波登可.卡达.孑.酸糖.芳汀.泡泡.杰克.松果.豆苗.深靛.罗比菈塔.褐果.铅踝.休谟斯}}